.slider{
    position:relative;
    width:100%;
    max-width: 600px;
    margin:auto;
    overflow: hidden;
    text-align: center;


}
.slides{
    position:relative;
}

.slider img{
    width:auto;
    max-width: 100%;
    display: none;
    margin: auto;

}

img.displaySlide{

    display:block;
    animation-name: faded;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    transform: translateY(-60%);
    background-color: hsl(0, 0%, 0% 0.5);
    color: rgb(240, 24, 24);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.prev{
    left:0;
}
.next{
    right:0;
}
@keyframes fade{
    from{opacity: 0.5;}
    to{opacity:1}
}